<div class="form">
  <form class="form" role="form" [formGroup]="todoForm">
    <div class="form-group">
      <label>New Todo: </label>
      <input type="text" formControlName="title" class="form-control" />
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-succes btn-sm" (click)="addTodo()">
        Add
      </button>
    </div>
  </form>
</div>

<ul>
  <p *ngIf="todos.length <= 0">No todos added yet...</p>
  <li *ngFor="let todo of todos">
    <p>Title: {{ todo.title }}</p>
    <p>Completed: {{ todo.done ? "Yes" : "No" }}</p>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-info btn-sm"
        (click)="toggle(todo.id)"
      >
        {{ todo.done ? "Mark as Not Completed" : "Mark as Completed" }}
      </button>
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="updateTodo(todo.id)"
      >
        Edit Todo
      </button>
      <button
        type="button"
        class="btn btn-danger btn-sm"
        (click)="deleteTodo(todo.id)"
      >
        Delete Todo
      </button>
    </div>
  </li>
</ul>
